.SelectWater {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: .25em;
  height: 100%;
  
  .input {
		position: relative;
		padding-left: 1px;
		padding-right: 1px;
		max-width: 100%;
		display: inline-flex;
    margin-bottom: .25em;

    input {
      border: 1px solid black;
      border-radius: 1em;
      padding: .25em 1em;
      width: 100%;
    }

    button.clear-selection {
      position: absolute;
			right: 6px;
			top: 50%;
			transform: translateY(-50%);
			height: 100%;
			border: none;
			&:focus-visible,
			&:hover {
				svg {
					stroke-width: 2px;
				}
			}
			svg {
				width: 1.25em;
				height: 1.25em;
			}
      .LoadingSpinner {
        width: 1em;
        height: 1em;
        margin: 0;
        position: absolute;
        right: 2px;
        top: 9px;
      }
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;

    button {
      width: 100%;
      display: flex;
      align-content: center;
      text-align: left;
      line-height: 1;
      border-radius: .25em;
      padding: .25em;
      &:hover {
        text-decoration: underline;
      }
      &.selected {
        background-color: SteelBlue;
        color: white;
        cursor: default;
      }
    }
  }
}
