.Footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: .5em;
  margin-bottom: .65rem;
  pointer-events: none;

  .Footer-inner {
    pointer-events: auto;
    width: 100%;
    max-width: 32rem;
  }
}
