.leaflet-container {
	.direction-arrow {
		color: SteelBlue;
		font-size: 2.5rem;
		animation: throb ease-out 700ms infinite;
		transform-origin: center;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
	}
	@keyframes throb {
		0% {
			font-size: 2.5rem;
		}

		50% {
			font-size: 3rem;
		}
		100% {
			font-size: 2.5rem;
		}
	}

  .GpsControl {
    background-color: white;
    .LoadingSpinner {
      width: 2.5em;
      height: 2.5em;
      margin: 0;
      padding: .5em;
      
    }
    .GeoLocationStatus {
      display: flex;
      align-items: center;
      gap: .5em;
      .pin {
        position: relative;
        font-size: 1.5em;
      }
      &.on {
        background-color: yellow;
        .pin:before {
          content: '';
          position: absolute;
          z-index: 0;
          left: 50%;
          bottom: 0;
          border-radius: 50%;
          transform: scaleY(0.5) translate(-50%, .1em);
          transform-origin: bottom center;
          transform: 300ms ease;
          width: 1em;
          height: 1em;
          border: 2px solid grey;
          animation: throb-oval 1.5s ease forwards;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

@keyframes throb-oval {
  0% {
    height: 1.75em;
    width: 1.75em;
    opacity: .1;
  }
  50% {
    height: .85em;
    width: .85em;
    opacity: .7;
  }
  100% {
    height: 1.75em;
    width: 1.75em;
    opacity: .1;
  }
}